 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Main page</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/add">Add your track</a></li>
      </ul>
    </div>
  </nav>